
body
{
	color: white;
	background-color: black;
	font-size: 170%;
	font-family: Ubuntu;
}

tt
{
	font-weight: bold;
	border: 1px solid #888;
	border-radius: 3px;
	padding: 2px 6px;
}

h1
{
	text-align: center;
}

.step
{
    width: 1024px;
}

.bgimg
{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0.4;
  z-index: -100;
}

.bgimg-weak
{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0.20;
  z-index: -100;
}


.bgimg-right
{
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 0; bottom: 0;
  right: -150px;
  opacity: 0.7;
  z-index: -100;
}

.fgimg-right
{
	float: right
}

.fgimg-center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td
{
	padding: 0px 8px;
}

td p
{
	margin: 0px;
}

